@font-face {
    font-family: 'sanchezregular';
    src: url('fonts/sanchez-webfont.eot');
    src: url('fonts/sanchez-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sanchez-webfont.woff2') format('woff2'),
         url('fonts/sanchez-webfont.woff') format('woff'),
         url('fonts/sanchez-webfont.ttf') format('truetype'),
         url('fonts/sanchez-webfont.svg#sanchezregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sanchezitalic';
    src: url('fonts/sanchez-italic-webfont.eot');
    src: url('fonts/sanchez-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sanchez-italic-webfont.woff2') format('woff2'),
         url('fonts/sanchez-italic-webfont.woff') format('woff'),
         url('fonts/sanchez-italic-webfont.ttf') format('truetype'),
         url('fonts/sanchez-italic-webfont.svg#sanchezitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayregular';
    src: url('fonts/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayitalic';
    src: url('fonts/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fjallaoneregular';
    src: url('fonts/fjallaone-regular-webfont.eot');
    src: url('fonts/fjallaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fjallaone-regular-webfont.woff2') format('woff2'),
         url('fonts/fjallaone-regular-webfont.woff') format('woff'),
         url('fonts/fjallaone-regular-webfont.ttf') format('truetype'),
         url('fonts/fjallaone-regular-webfont.svg#fjallaoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'franklin_gothic_fsbook';
    src: url('fonts/FranklinGothic-Book-webfont.eot');
    src: url('fonts/FranklinGothic-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FranklinGothic-Book-webfont.woff2') format('woff2'),
         url('fonts/FranklinGothic-Book-webfont.woff') format('woff'),
         url('fonts/FranklinGothic-Book-webfont.ttf') format('truetype'),
         url('fonts/FranklinGothic-Book-webfont.svg#franklin_gothic_fsbook') format('svg');
}


@font-face {
    font-family: 'league_spartanregular';
    src: url('fonts/leaguespartan-bold-webfont.eot');
    src: url('fonts/leaguespartan-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('fonts/leaguespartan-bold-webfont.woff') format('woff'),
         url('fonts/leaguespartan-bold-webfont.ttf') format('truetype'),
         url('fonts/leaguespartan-bold-webfont.svg#league_spartanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    padding-top: 50px;
    font-size: 10px;
    z-index: 1;
    color: #6d6e71;
    background-color: #fff;
    position: relative;
    font-family: 'franklin_gothic_fsbook';
}

video{
    position: relative;
    min-width: 100%;
    z-index: 2;

}

.embed-responsive, .embed-responsive-16by9{
  position: relative;
    z-index: 2;
}

.embed-responsive-item{
    position: relative;
    z-index: 2;   
}



form p{
     margin-bottom: 30px; 
    
}

label{
    font-weight: 100;
    color: #2b6280;
    letter-spacing: 1px;
    margin-bottom: 0;
}

input{
    background-color: #15374f;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    border-left: 0;
    font-size: 17px;
    line-height: 27px;
    width: 100%;
}

input[type=submit] {
    font-size: 17px;
    line-height: 20px;
    width: auto;
    float: right;
    letter-spacing: 1px;
    padding: 0 0 5px 0;
}


::-webkit-input-placeholder {
   color: #2b6280;
    letter-spacing: 1px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #2b6280; 
    letter-spacing: 1px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2b6280; 
    letter-spacing: 1px;
}

:-ms-input-placeholder {  
   color: #2b6280;  
    letter-spacing: 1px;
}

textarea{
    background-color: #15374f;
     border: 1px solid #fff;
}

.txt-area-p{
     margin: 0;   
}

hr{
    border-top: 1px solid #6d6e71; 
}


.fluid-row h2, .boxed-row h2{
    font-family: 'fjallaoneregular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 54px;
    line-height: 65px;
    padding: 15% 10% 0 15%; 
    color: #fff;
    
}

#about h3{
    font-family: 'playfair_displayregular', serif;
    font-size: 40px;
    line-height: 49px;
    margin-left:36px;
}

h4{
    font-size: 40px;
    line-height: 53px;
   font-family: 'playfair_displayregular', serif;
    margin-top: 0;
    margin-bottom: 52px;
    text-align: center;
}

h6{
    font-family: serif;
    font-size: 40px;
    line-height: 25px;
}

.image-replace{
     margin-left: -9999px;   
}

/* NAVIGATION */

.nav{
     font-family: 'franklin_gothic_fsbook', sans-serif;  
}

.navbar-brand{
    background-image: url('img/kt_logo.svg');
    width: 170px;
    height: 135px;
    position: absolute;
    top: 0;
    left: 14px;
}


#top-video-loop{
    max-height: 662px; 
    background: url('img/temp-keni-top.png') center top no-repeat;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
    text-align: center;
    color: #fff;
    border: 24px #fff solid;
    overflow: hidden;
}

#top-video-loop {
    font-family: 'sanchezitalic', serif;
    font-size: 1.5em;
    font-weight: 100;
    z-index: 6;
    letter-spacing: 1px;
}

#top-video-loop button{
    color: #15374f; 
    padding: 10px 30px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 6;
}

#vid-content{
    z-index: 6;
    position: relative;
    margin: -24px auto 0 auto;
    height: 662px;
    background-color: rgba(0,0,0,.25);
}

#vid-content button{
     font-family: 'franklin_gothic_fsbook', sans-serif;
}

.quote-attribution{
    font-family: 'sanchezregular', serif;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

#learn_bkg{
    min-height: 600px; 
    background: url('img/speech_live.jpg') center top no-repeat;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
    border: 24px #fff solid;

}


.bug-red{
    width: 94px;
    height: 94px; 
    margin: 48px 48px 0 0;
    float: right;
    background: url('img/bug_red.svg');
      
}



.bug-white{
     width: 94px;
    height: 94px; 
    margin: 48px 48px 0 0;
    float: right;
    background: url('img/bug_white.svg');   
}

#learn h4{
    text-align: left;
    font-family: serif;
}

#motivate {
     margin-top: 133px;   
     margin-top: 133px;   
}


.white_overlay{
    width: 30%;
    float: right;
    background-color: #fff;
    postion: relative;
    z-index: 5;
    min-height: 662px;
}

.white_overlay .bug-red{
    margin: 0 48px 0 0;
}

.white_overlay h3{
    margin: 120px 0 40px 0; 
    text-transform: capitalize;
}

#about_bkg{
    min-height: 662px;
    background: url('img/speaker-page-pic.jpg') center top no-repeat;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
    border: 24px #fff solid;

}

#about_video_thumb{
    width: 440px;
    height: 250px;
    background: url('img/87_2_screenshot.png');
    margin-left: -46px;
    padding-top: 23%;
}

.white_overlay h3{
    color: #6d6e71;
    text-align: left;
}

.boxed-row{
    padding: 106px 150px;  

}

.boxed-row img{
     width: 100%;
    height: auto;
    margin-bottom: 20px;
}



p span.separator::after { 
    content: "–––––––––––";
    letter-spacing: -2px;
    line-height: 2em;
}


.boxed-row h5{
    font-family: 'sanchezregular', serif;
    font-size: 21px;
    line-height: 27px;
    text-transform: uppercase;   
    margin-bottom: 0;
    letter-spacing: 1px;
}

.boxed-row p.about-caption{
     width: 350px;  
    font-size: 17px;
    line-height: 21px;
    margin-top: 8px;
}


/* VIOLATOR */

.violator{
    width: 100%; 
    background-color: #cf122a;
    color: #fff;
    padding: 20px;
}

.violator p{
     width: 100%;   
}

.violator p span.violator-header{
    font-weight: 100;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 1px;
}

.violator img{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.violator a:link, .violator a:visited{
    color: #fff;
    border-bottom: 2px Solid #fff;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
    
}

.violator a:hover{
    color: #6d6e71;
    border-bottom: 2px Solid #6d6e71;
    padding-bottom: 5px;
    text-decoration: none;    
}

.violator a:active, .violator a:focus{
    color: #fff;
    border-bottom: 2px Solid #fff;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
    
}

#about .violator{
     margin-top: 100px;   
}

#about .violator img{
     width: 100px;
    height: 100px;
    margin: -10px 30px 0 -10px;
}

#about span.violator-header{
     margin-left: -25px;   
}

#about .violator a:link, #about .violator a:visited, .violator a:hover,.violator a:active, .violator a:focus{
    margin-left: -25px;
}

/* QUOTE CAROUSEL */

#carousel-quotes{
    background-color: #15374f;   
    color: #fff;
    min-height: 335px;
    text-align: center;
}

.carousel-title{
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    padding-top: 3em;
    letter-spacing: 3px;
    font-weight: 200;
    line-height: 20px;
}


.carousel-caption{
    color:#fff;
    font-size: 25px;
    line-height: 37px;
    font-weight: 100;
    letter-spacing: 2px;
}

.carousel-attribution{
    text-transform: uppercase;
    font-family: serif;  
    font-size: 17px;
}

.item, .item .active {
    width: 100%;
    min-height: 215px;
}



#client-logos p{
    font-size: 17px;
    line-height: 30px;
    text-align: center;   
}



#client-logos img{
    width: 115px;
    display: inline;
    float: left;
    position: relative;
}

#about .boxed-row{
     padding: 0;  
}


#speaker_bkg{
    min-height: 420px;
    background: url('img/6261040068_a861ff16d6_o.jpg') center top no-repeat;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
    border: 24px #fff solid;
}

h4.about_hdr{
    font-size: 40px;
    line-height: 53px;
    color: #6d6e71;
    padding: 30px 170px;
    text-transform: initial;
    border-top: 1px solid #656e71;
    border-right: none;
    border-bottom: 1px solid #656e71;
    border-left: none;
    margin-bottom: 30px;
}

#about p{
    font-size: 17px;
    line-height: 31px;
}


#speaker .boxed-row{
    padding: 0;
}

.film-container{
    width: 1020px;  
    margin: 0 auto;
}

#speaker h4{
     padding: 0 400px;    
}

#speaker .film_thumb{
    width: 325px;
    height: 200px;
    float: left;
    padding-top: 7%;
}


#speaker .film_thumb:first-child{
    background-image: url('img/kt_business.jpg');
}

#speaker .film_thumb:nth-child(2){
    background-image: url('img/kt_edu.jpg');
    margin: 0 20px;
}

#speaker .film_thumb:nth-child(3){
    background-image: url('img/kt_faith.jpg');
}

#speaker h5{
    font-family: sans-serif;
    font-size: 19px;
    line-height: 26px;
    color: #6d6e71;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 85px;
}


aside.book{
    height: 335px;
    background-color: #15374f;   
    color: #fff;
    text-align: left;
    margin: 120px 0;
}

#book_container{
    width: 874px;
    margin: 0 auto;
}

img.book{
    width: 260px;
    height: 390px;
    margin-top: -25px;
    margin-right: 52px;
    float: left;
}

h6.book_title{
    font-family: serif;
    font-size: 40px;
    line-height: 44px;
    padding-top: 43px;
}

#book_container p{
    font-size: 17px;
    line-height: 21px;
    margin: 1em 0 1.5em 0;
}

#book_container a:link, #book_container a:visited {
    color: #fff;
    border-bottom: 2px Solid #fff;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
}

#book_container a:hover{
    color: #6d6e71;
    border-color: #6d6e71;

}

#book_container a:active, #book_container a:focus {
    color: #fff;
    border-bottom: 2px Solid #fff;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
}

#book_container .link{
     margin-left: 75px;   
}


#music_bkg{
    min-height: 662px;
    background: url('img/country_star.jpg') center top no-repeat;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
    border: 24px #fff solid;
}


.music-container{
    width: 985px;  
    margin: 0 auto;
}


.music_thumb{
    width: 288px;
    height: 288px;
    float: left;
}


.music_thumb:nth-child(2){
    margin: 0 60px;
}


.music-container h5{
    font-family: sserif;
    font-size: 19px;
    line-height: 26px;
    color: #6d6e71;
    text-align: center;
    letter-spacing: 3px;
}


ul.album{
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
}
ul.album li.album_link{
    display: inline;   
    text-indent: none;
    text-align: left;
    margin-right: 37px;
    font-size: 12px;
    lin-height: 14px;
    width: 50px;
}


li.album_link a:link, li.album_link a:visited{
    color: #6d6e71;
    border-bottom: 1px solid #6d6e71;
    padding-bottom: 2px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;
}

li.album_link a:hover{
    color: #cf122a;
    border-bottom: 1px solid #cf122a;
}

li.album_link a:active, li.album_link a:focus{
    color: #6d6e71;
    border-bottom: 1px solid #6d6e71;
    padding-bottom: 2px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;
}

#music_video_container{
    border-left: 24px #fff solid;
    border-right: 24px #fff solid;
    height: 332px;
    margin-top: 80px;
}

#music_video_container h4{
    font-family: serif;
    font-size: 40px;
    line-height: 53px;
}

#music_video_container .col-md-3 {
    height: 332px;
    padding-top: 10%;
    text-align: center;
    color: #fff;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 28px;
}

#music_video_container .col-md-3:nth-child(2){
    background: url('img/mgid-uma-video-mtv.jpg') center right no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}


#music_video_container .col-md-3:nth-child(3){
    background: url('img/0.jpg') center center no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;

}

#music_video_container .col-md-3:nth-child(4){
    background: url('img/shrevport.jpg') center center no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;

}

#music_video_container .col-md-3:nth-child(5){
    background: url('img/mexico.png') center center no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

#news{
    min-height: 277px;
    background: url('img/news_hdr.jpg')  no-repeat;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
    border: 24px #fff solid;
    margin-top: 100px;
}

#news_calendar .boxed-row{
     padding: 0px ;   
}

#news h3{
     padding-top: 75px;   
}

#news_calendar{
    height: 600px;
    padding: 0;
    border: none;
    padding: 0;    
}


#blog_preview_container{
    width: 72%;
    height: 525px;
    float: left;
    margin: 0;
}

.blog_preview{
    width: 295px;
    height: 280px;
    float: left;
    position: relative;
    margin-right: 17px;
    text-align: center;
    overflow: hidden;
}

.blog_thumb_container{
    width: 295px;
    height: 200px;
    overflow: hidden;
}

.blog_preview img{
    width: auto;
    height: 100%;
    margin-bottom: 0;
    z-index: 2;
}

.blog_preview h5{
    width: 295px;
    font-size: 19px;

}

.blog_preview .play_btn{
    margin-top: -130px;
    margin-bottom: 85px;
    position: relative;

}

#blog_preview_container .more-link{
    text-align: right;
    bottom: 0;
    margin-right: 24px;
}

#blog_preview_container .more-link a:link{
    color: #6d6e71;
    border-bottom: 1px solid #6d6e71;
    padding-bottom: 2px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;    
}

#blog_preview_container .more-link a:hover{
    color: #cf122a;
    border-bottom: 1px solid #cf122a;
}

#blog_preview_container .more-link a:active, #blog_preview_container .more-link a:focus{
    color: #6d6e71;
    border-bottom: 1px solid #6d6e71;
    padding-bottom: 2px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;
}

/* ellipsis */

.clamped {
    line-height: 24px;
    overflow: hidden;
    position: relative;
}

.clamped-2 {
    /* Clamp to 2 lines, ie line-height x 2: */
    max-height: 48px;
}


.ellipsis {
    background: #fff;
    bottom: 0;
    position: absolute;
    right: 0;
}

.fill {
    background: #fff; 
    height:100%;
    position: absolute;
    width: 100%;
}

/* end ellipsis */

#calendar_container{
    width: 27%;
    font-family: serif;
    font-weight: 200;
    padding: 17px;
    height: 600px;
    float: left;
    background-color: #eaeaea;  
}

#calendar_container h4{
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.calendar_list{
     margin-top: -40px;   
}

#calendar_container ul{
    list-style: none;
    padding: 0;
}

.calendar_date{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    float: left;
    width: 30%;
}

.calendar_location{
    width: 68%;   
    float: right;
}

.calendar_location p{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
}

.calendar_location p:nth-child(2){
    font-family: sans-serif;
    margin-bottom: 20px;
}

.calendar_item{
     width: 100%;
    clear: both;
}

.calendar_item p{
     clear: both;   
}

#calendar_container hr{
    clear: both;   
}


#calendar_container .more-link{
    text-align: center;
    clear: both;
}


#calendar_container .more-link a:link{
    color: #6d6e71;
    border-bottom: 1px solid #6d6e71;
    padding-bottom: 2px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;    
}

#calendar_container .more-link a:hover{
    color: #cf122a;
    border-bottom: 1px solid #cf122a;
}

#calendar_container .more-link a:active, #calendar_container .more-link a:focus{
    color: #6d6e71;
    border-bottom: 1px solid #6d6e71;
    padding-bottom: 2px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;
}

footer{
    font-family: sans-serif;
    font-size: 17px;
    line-height: 23px;
    background-color: #15374f;
    margin-top: 50px;
    min-height: 800px;
    color: #fff;
    border: 24px solid #fff;
    padding: 100px 174px;
    font-weight: 100;
}

.subhead{
     font-family: serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin: 40px 0 5px 0;
}

.footer-separator::after{
    content:"----------";
    letter-spacing: -2px;
}

.copyright{
    width: 100%;
    height: 100px;
    clear: both;
    padding-top: 40px;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
    bottom: 0;
    background-color: #fff;
    color: #6d6e71;
}

#footer-download{
    margin-top: 197px;
}

#footer-download p{
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer a:link, footer a:visited{
    color: #fff;
    font-family: serif;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
}

footer a:hover{
    color: #cf122a;
}

footer a:active, footera:focus{
   color: #fff;  
}

#footer-download a:link, #footer-download a:visited{
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: capitalize;
}

#footer-download a:hover{
    color: #cf122a;
    border-bottom: 2px solid #cf122a;
    
}

#footer-download a:active, #footer-download a:focus{
   color: #fff;
    border-bottom: 2px solid #fff;   
}

/* PLAY BUTTON */

.play_btn{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: rgba(255,255,255,.6);
    z-index: 6;
    margin: 0 auto;
}

.play_btn:hover{
    background-color: rgba(255,255,255,1);
    z-index: 6;
}

.glyphicon-play{
    color: #666666;
    font-size: 33px;
    margin: 9px 0 0 14px;
    text-align: center;
    z-index: 6;
    
}

.glyphicon-play:hover{
    color: #cf122a;
    text-align: center;
    z-index: 6;
}

#music_video_container .glyphicon-play {
     margin-left: 10px;   
}

.blog_preview .glyphicon-play{
     margin-left: 5px;   
}